*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #EBD3F8;
    --general-bg-color: #fff;
    --nav-bg-color: #7A1CAC;
    --nav-bg-links: #fff;
    --default-color: #bf7ce4;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    height: 100%;
    background-color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
}

main {
    width: 100%;
}

.container-main {
    width: 100%;
    background-color: white;
    padding: 2rem;
    margin-block: 2rem;
    border-radius: 1.2rem;
    box-shadow: 0.2rem 0.2rem black;
}

.container {
    background-color: var(--default-color);
    padding: 10px;
}

.shadow {
    box-shadow: 4px 4px black;
}

.shadow-transition {
    transition: ease 0.3s;
}

.shadow-transition:hover {
    box-shadow: 4px 4px black;
    transform: translate(-2px, -2px);
    transition: ease 0.3s;
}