.navbar {
    width: 100%;
    border: none;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-links a {
    display: inline-block;
    background-color: var(--nav-bg-links);
    border: 1px solid black;
    padding: 8px;
}


.logo {
    margin-right: auto;
}
